<app-header></app-header>
<div class="jumbotron container">
    <h1 class="display-3">IssueTracker</h1>
    <p class="lead">IssueTracker is a powerful bug management tool using which you can submit, organize how issues are to be handled and
        fix them all in time.</p>
    <hr class="my-4">
    <p>It provides a structured way to capture and process the various questions, ideas, decisions, defects, and other assorted
        challenges that come up</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>